*{
	padding:0px;
	margin:0px;
}

html{
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #202020;
	font-size:12px;
}

body{
	background: #202020;
}

a:link{
	text-decoration:none;
	color:#580e0e;
}
a:visited{
	color:#580e0e;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a img{
	border:none;
}



#header{
	width: 100%;
	height: 110px;
	margin: 0px auto 0px auto;
	background: #580e0e;
}
#headerContent{
	font-family: "Gotham-Light", "Gill Sans", verdana;
	font-size: 27px;
	color: #FFFFFF;
	width: 1035px;
	margin: 0px auto 0px auto;
	padding: 7px 0 0 5px;
	height: 40px;
}

#container{
/*	position: relative;*/
	width: 1040px;
	margin: -65px auto 0px auto;
}
#cTop{
	width: 1040px;
	height: 7px;
	background: url('/images/cTop.png');
}
#cBottom{
	width: 1040px;
	height: 7px;
	background: url('/images/cBottom.png');
}
#cMiddle{
	background: #FFFFFF;
	width: 1040px;
	overflow: auto;
}


/*
 *		Left Side 
 */

#leftSection{
/*	position: relative;*/
	float: left;
	width:250px;
	height: 100%;
	border-right: 1px solid #202020;
	overflow:auto;
}

/*==== Controls ====*/
#controls{
	margin: 7px 0px 0px 12px;
	overflow:auto;
}

#play_pause{
	float:left;
	width: 46px;
	height: 47px;
}
#play_pause:hover{
	background-position: 0px -47px;
}
#play_pause:active{
	background-position: 0px -94px;
}
.playing{
	background: url('/images/pause.png') 0 0 no-repeat;
}
.paused{
	background: url('/images/play.png') 0 0 no-repeat;
}
.stopped{
	background: url('/images/play.png') 0 0 no-repeat;
}

#next{
	float:left;
	margin: 7px 0px 5px 10px;
	width: 34px;
	height: 34px;
	background: url('/images/next.png') 0 0 no-repeat;
}
#next:hover{
	background-position: 0px -34px;
}
#next:active{
	background-position: 0px -68px;
}

#volume{
	float:left;
	margin: 7px 0 0 0;
	width: 120px;
	padding: 10px;
}

/*==== Playlist ====*/
#playlist{
	font-size: 13px;
	line-height: 19px;
	margin: 0px 0px 20px 0px;
/*	padding: 100px 0 10px 0;*/
}
#playlist_songs{
	padding: 20px 0 20px 0;
}
.songTitle{
	font-weight:bold;
}
.artist{
	font-weight: normal;
}
.user {
	position: relative;
	top: 19px;
	right: -15px;
	float: right;
	font-size: 11px;
}
#playlist li{
	list-style-type: none;
}

.song{
	width: 213px;
	height: 46px;
	padding: 7px 7px 0px 10px;
	margin: 0px 0px 2px 10px;
}
.currentSong{
	color:#FFFFFF;
	background: url('/images/currentSong.png') 0 0 no-repeat;
}
.nextSong{
	background: url('/images/nextSong.png') 0 0 no-repeat;
}
.song:hover{
	background-position: 0px -53px;
	cursor: move;
	color: #202020;
}

.xButton{
	position: relative;
	float:right;
	top: 0px;
	width: 15px;
	height: 15px;
	text-indent: -9000px;
	background: url('/images/xButtons.png') 0 0 no-repeat;
	visibility: hidden;
	cursor: pointer;
}
.xButton:hover{
	background-position: 0px -15px;
}
.song:hover .xButton{
	visibility: visible;
}

.dragPadding{
	height: 20px;
	width: 100%;
}



/*
 * Right Side
 */

#rightSection{
	float: right;
	width: 780px;
	overflow: auto;
}
/*==== Top Section ====*/
#top{
	width: 760px;
	float: right;
	margin: 10px 0px 0px 0px;
}

#searchBox{
	width: 567px;
	height: 56px;
	margin: 0px 0px 0px 39px;
	background: url('/images/searchInput.png');
}

#searchBox input[type="text"]{
	height: 32px;
	width: 543px;
	margin: 7px;
	border: none;
	font-size: 22px;
	padding: 10px 0 0 7px;
	outline: 0 none;
	background: none;
}


/*==== Songs ====*/

#songs_container{
	position: relative;
	float: right;
	width: 770px;
	min-height: 300px;
	padding: 20px 10px 20px 0px;
}
#songs_list{
	height: 100%;
/*	position: absolute;*/
/*	top: 0px;*/
/*	right: 0px;*/
	
}
#searching{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	z-index: 1000;
	opacity: 0.5;
}
#searching_animation{
	height: 16px;
	width: 16px;
	background: url('/images/loader.gif');
	margin: 40px auto 0 auto;
}

#songs_list ul li{
	list-style-type: none;
	width: 767px;
	height: 34px;
	cursor: pointer;
}
#songs_list ul li .details{
	float: left;
	width: 707px;
	height: 34px;
	background: url('/images/row_even.png') 0 0 no-repeat;
}

#songs_list ul li  ul{
	padding: 5px 0px 0px 5px;
}
#songs_list ul li ul li{
	float: left;
	list-style-type: none;
	width: 220px;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	height: 13px;
	background: 0 none;
	font-size: 13px;
}

#songs_list ul li:nth-of-type(odd) .details{
  background: url('/images/row_odd.png') 0 0 no-repeat;
}

#songs_list ul li:hover .songButton{
	visibility: visible;
}
#songs_list ul li:hover .details{
	background-position: 0px -34px;
}

/*== Play Whole Album ==*/
.playAlbum{
	visibility: hidden;
	position: relative;
	float: left;
	top: -15px;
	color: #580e0e;
}
#songs ul li ul li:hover .album{
	visibility: hidden;
}
#songs ul li ul li:hover .playAlbum{
	visibility: visible;
}

.songButton{
	float: left;
	position: relative;
	visibility: hidden;
	width: 30px;
	height: 34px;
	right: -1px;
	text-indent: -9000px;
}
.songButton:hover{
	background-position: 0 -34px;
}
.songButton:active{
	background-position: 0 -68px;
}
.add{
	background: url('/images/row_add.png');}

.playNow{
	background: url('/images/row_play.png');
}



/*
 *  Welcome
 */

#welcomeMask{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
/*	opacity: 0.2;*/
}

#welcome{
	position: relative;
	width: 571px;
	height: 272px;
	left: 50%;
	top: 50%;
	margin: -136px 0 0 -285px;
	background: url('/images/welcome_background.png');
	opacity: 1;
}

#welcomeHead{
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #580e0e;
	margin: 0px 0px 40px 0px;
	padding: 50px 0 0 0;
}

#welcomeTextEntry{
	float: left;
	width: 307px;
	height: 56px;
	background: url('/images/welcome_text.png');
	margin: 1px 0 0 50px;
}

#welcomeTextEntry input[type="text"]{
	height: 32px;
	width: 283px;
	margin: 7px;
	border: none;
	font-size: 22px;
	padding: 10px 0 0 7px;
	outline: 0 none;
	background: none;
}

.letMeIn{
	float: left;
	margin: 0 0 0 10px;
	width: 147px;
	height: 56px;
	background: url('/images/enter.png') 0 0 no-repeat;
}

.LMIafterFocus{
	float: left;
	margin: 0 0 0 10px;
	width: 147px;
	height: 56px;
	background: url('/images/enter.png') 0 -56px;
}
.LMIafterFocus:hover{
	background-position: 0 -112px;
}


