*{
	padding:0px;
	margin:0px;
}

html{
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #202020;
	font-size:12px;
}

body{
	background: #202020;
}

a:link{
	text-decoration:none;
	color:#0d4496;
}
a:visited{
	color:#0d4496;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a img{
	border:none;
}



#header{
	width: 100%;
	height: 100px;
	margin: 0px auto 0px auto;
	background: #7f2108;
}
#headerContent{
	width: 1040px;
	margin: 0px auto 0px auto;
	height: 40px;
}

#container{
/*	position: relative;*/
	width: 1040px;
	margin: -60px auto 0px auto;
}
#cTop{
	width: 1040px;
	height: 7px;
	background: url('/images/cTop.png');
}
#cBottom{
	width: 1040px;
	height: 7px;
	background: url('/images/cBottom.png');
}
#cMiddle{
	background: #FFFFFF;
	width: 1040px;
	overflow: auto;
}


/*
 *		Left Side 
 */

#leftSection{
	position: relative;
	width:250px;
	border-right: 1px solid #202020;

}

/*==== Controls ====*/
#controls{
	margin: 0px 0px 0px 10px;
	overflow:auto;
}

#play_pause{
	float:left;
	width: 46px;
	height: 47px;
	background: url('/images/play.png') 0 0 no-repeat;
}
#play_pause:hover{
	background-position: 0px -47px;
}
#play_pause:active{
	background-position: 0px -94px;
}

#next{
	float:left;
	margin: 7px 0px 5px 10px;
	width: 34px;
	height: 34px;
	background: url('/images/next.png') 0 0 no-repeat;
}
#next:hover{
	background-position: 0px -34px;
}
#next:active{
	background-position: 0px -68px;
}

#volume{
	float:left;
	margin: 7px 0 0 0;
	width: 120px;
	padding: 10px;
}

/*==== Playlist ====*/
#playlist{
	font-size: 14px;
	line-height: 19px;
	margin: 0px 0px 20px 0px;
/*	padding: 100px 0 10px 0;*/
}
.songTitle{
	font-weight:bold;
}
.artist{
	font-weight: normal;
}
#playlist li{
	list-style-type: none;
}

.currentSong{
	color:#680808;
	width: 216px;
	height: 39px;
	padding: 7px;
	background: url('/images/currentSong.png') 0 0 no-repeat;
	margin: 0px 0px 2px 10px;
}
.nextSong{
	width: 216px;
	height: 39px;
	padding: 7px;
	background: url('/images/nextSong.png') 0 0 no-repeat;
	margin: 0px 0px 2px 10px;
}
.nextSong:hover{
	background-position: 0px -53px;
	cursor: move;
}

.dragPadding{
	height: 20px;
	width: 100%;
}






