<div id="playlist">
	<ul id="playlist_songs">
		<div class="dragPadding"></div>
		<li class="song currentSong">
			<div class="xButton"></div>
			<div class="user"><%= truncate("Dane Pieri", :length => 9) %></div>
			<span class="songTitle"><%= truncate("We Are The World", :length => 25) %> </span><br>
			<span class="artist"><%= truncate("Kanye West's Wonderful Musical Ensemble", :length => 23) %></span>
			<script>
				$('.xButton').click(function(){
					$(this).parent().remove();
					alert("Removed one - For some reason this gets called twice if you remove after re-ordering")
				});
			</script>
		</li>
		<li class="song nextSong">
			<span class="songTitle">We Are The World</span><br>
			<span class="artist">Kanye West</span>
		</li>
		<li class="song nextSong">
			<span class="songTitle"><%= truncate("We Are The World We Are The World We Are The World WWW", :length =>25) %></span><br>
			<span class="artist">Kanye West</span>
		</li>
		<li class="song nextSong">
			<span class="songTitle">We Are The World</span><br>
			<span class="artist">Kanye West</span>
		</li>
		<div class="dragPadding"></div>
	</ul>
</div>

<script>
	$(function(){
		$("#playlist_songs").sortable({
			revert:true,
			containment: "#playlist",
			stop: function(event, ui) { alert("Reordered one")}
		});

	});
</script>