<div id="songs">
	<ul>
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		
		<li>
			<div class="songButton add"></div>
			<div class="songButton playNow"></div>
			<div class="details">
				<ul>
					<li>Title</li>
					<li>Artist</li>
					<li>Album</li>
				</ul>
			</div>
		</li>
		

	</ul>
</div>