<div id="leftSection">
	<%= render 'left_section' %>
</div>

<div id="rightSection">
	<div id="top">
		<div id="searchBox">
			<input type="text" value="Find some music bro" id="searchField"></input>
		</div>
	</div>
	
	<div id="songs_container">
		<div id="songs_list">
			<%= render 'songlist' %>
		</div>
		<div id="searching"><div id="searching_animation"></div></div>
	</div>
</div>

<script>
$("#searchField").focus(function(){
	if ($('#searchField').val() == "Find some music bro"){
		$('#searchField').val("");	
	} 
});
$("#searchField").click(function(){
	this.select();
});

$("#searchField").keyup(function(){
	if($(this).val().length >= 3){
		$("#searching").show();
		$.post('search', {query:$(this).val()}, function(){
			$("#searching").hide();
			
		});
	}
});

$(document).ready( function(){
	setInterval(function(){
		if(!lock) { 
			$.post('/phoneHome');
		}
	}, 7000);
})
</script>
