<div id="leftSection">
	<div id="controls">
		<div id="play_pause" class="play"></div>
		<div id="next"></div>
		<div id="volume">
			<div id="vSlider"></div>
		</div>
	</div>
	
	<%= render 'playlist' %>
</div>

<div id="rightSection">
	<div id="top">
		<div id="searchBox">
			<input type="text" value="Find some music bro" id="searchField"></input>
		</div>
	</div>
</div>

<script>

$(function() {
	$( "#vSlider" ).slider({
		min: 0,
		max: 100,
		values: [ 50 ]  // This needs to be set from an applescript call to check the iTunes volume
	});
});

$( "#vSlider" ).bind( "slidestop", function(event, ui) {
	$.post('set_volume', {level:$( "#vSlider" ).slider( "values", 0 )});
});

$("#searchField").focus(function(){
	if ($('#searchField').val() == "Find some music bro"){
		$('#searchField').val("");	
	} 
});
$("#searchField").click(function(){
	this.select();
});
</script>
